#app {
  .main-container {
    // background-color: #bbb;
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: 200px;
    margin-top: 0px;
    padding: 0px;
    #h2 {
      margin: 0px
    }
    // border-style: solid;
    // border-width: 3px;
    // border: red;
  }

  .app-container {
    // background-color: #ccc;
  }

  .sidebar-container {
    /* display: flex; */
    // background-color: #111;
    transition: width 0.28s;
    width: 200px;
    height: 100%;
    position: fixed;
    // font-size: 0px; 
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }
    .el-scrollbar {
      height: 100%;
    }
    .svg-icon {
      // margin: 16px;
      margin-right: 16px;
      text-align: left;
    }
    .icon-title{
      text-align: center
    }
    .is-horizontal {
      display: none;
    }
    .el-menu {
      height: 100%;
    }
    
  }
}